:root{
--Tomato: hsl(4, 100%, 67%);
--Dark_Slate_Grey: hsl(234, 29%, 20%);
--Charcoal_Grey: hsl(235, 18%, 26%);
--Grey: hsl(231, 7%, 60%);
--White: hsl(0, 0%, 100%);
}

body{
    background-color: var(--Charcoal_Grey);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
#newsletter{
    margin: 150px auto 0 auto;
    width: 80%;
    padding: 20px;
    background-color: var(--White);
    border-radius: 30px;
    color: var(--Dark_Slate_Grey);
   /*  font-weight: 500; */
}
#msj-success{
    margin: 150px auto 0 auto;
    width: 40%;
    padding: 60px;
    background-color: var(--White);
    border-radius: 30px;
    color: var(--Dark_Slate_Grey);
}
@media (max-width: 500px){
    #newsletter,#msj-success{
        width: 100% !important;
        margin: 0;
        border-radius: 0px;
        padding: 0;
    }
   
    .row{
        flex-direction: column-reverse;
    }
    .container{
        padding: 0 !important;
    }
    body{
        background-color: var(--White);
    }
    .btn_subscribe{
        margin-bottom: 40px;
    }
    #msj-success {
        margin-top: 150px;
        padding: 30px;
    }
    .btn_dismiss{
        margin-top: 350px !important;
    }
    footer{
        display: none !important;
    }
}
#msj-success img{
 margin-bottom: 40px;
}
.col-left{
    margin-top: 50px;
    padding: 50px;
}
h1{
    color: var(--Dark_Slate_Grey);
    font-weight: 700;
    font-size: 56px !important;
    margin-bottom: 25px;
}
.col-right img{
    width: 100%;
    border-radius: px;
}
#lista_beneficios{
    list-style-type: none;
    padding: 0;
    margin: 35px 0px;
}
#lista_beneficios li {
    margin-bottom: 15px;
}
#lista_beneficios li img{
    margin-right: 15px;
}
#frm_subscribe {
    margin-top: 50px;
}
#frm_subscribe label{
    font-weight: 700;
    font-size: 14px;
}
#frm_subscribe input, .btn_dismiss{
    border-radius: 9px;
    padding: 16px;
    border-width: 1px;
}
#email{
    border: 1px solid var(--Grey);
}
.btn_subscribe{
    background-color: var(--Dark_Slate_Grey);
    color: var(--White);
}
.btn_subscribe:hover, .btn_dismiss:hover{
    background-color: var(--Tomato);
    color: white;
    border: 1px solid var(--Tomato);
}
#msjError{
    /* display: none !important; */
    color: hsl(0deg 85.5% 64.16%);
}
.input-invalid{
    border: 1px solid hsl(0deg 85.5% 64.16%) !important;
    color: hsl(0deg 85.5% 64.16%);
    background-color: hsl(4deg 100% 95.09%);
}

#destino{
    font-weight: 700;
}
.attribution{
    text-align: center;
    color: var(--White);
    margin-top: 10px;
}
.attribution a{
    color: var(--Tomato);
}